* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background: #E9ECF8
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
}

.btn-criptografar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    width: 328px;
    height: 67px;
    background: #0A3871;
    border-radius: 12px;
    flex: none;
    margin: 0px 24px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    justify-content: center;
    border: none;
}

.btn-descriptografar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    position: static;
    width: 328px;
    height: 67px;
    left: 352px;
    top: 0px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 12px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 24px;
    color: #0A3871;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    justify-content: center;
}

::placeholder {
    color: #0A3871;
    text-transform: none;
}

.text-input:focus {
    border: none;
    outline: none;
}


.text-input {
    text-transform: lowercase;
    position: absolute;
    width: 600px;
    height: 400px;
    left: 15%;
    top: 168px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 150%;
    justify-content: baseline;
    resize: none;
    color: #0A3871;
    background: transparent;
    border: none;
}



.msgbox {
    position: absolute;
    width: 400px;
    height: 750px;
    left: 70%;
    top: 20px;
    padding-left: 20px;
    padding-top: 80px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.msgbox h2 {
    position: static;
    width: 336px;
    height: 58px;
    left: 0px;
    top: 0px;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 120%;
    text-align: center;
    color: #343A40;
    background: #FFFFFF;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.msgbox h3 {
    position: static;
    width: 336px;
    height: 48px;
    left: 0px;
    top: 74px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
    background: #FFFFFF;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 16px 0px;
}

.mensagembox,
.mensagembox img {
    padding-top: 40px;
    background: #FFFFFF;
}

.alerta {
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

label {
    position: static;
    width: auto;
    height: 18px;
    left: 24px;
    top: 0px;
    padding-left: 25px;
    font-weight: 600;

    font-family: Inter;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    color: #495057;
}

.form-alerta {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    position: absolute;
    width: auto;
    height: 18px;
    left: 13%;
    top: 651px;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    position: absolute;
    width: 680px;
    height: 67px;
    left: 12%;
    top: 685px;
}

.logo {
    position: absolute;
    top: 25px;
}

.msg {
    position: absolute;
    width: 400px;
    height: 781px;
    left: 60px;
    top: 52px;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    resize: none;
    color: #495057;
    border: none;
    background: transparent;
}

.msg:focus {
    border: none;
    outline: none;
}

.btn-copiar {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;

    position: absolute;
    width: 336px;
    height: 67px;
    left: 25px;
    top: 660px;

    border: 1px solid #0A3871;
    box-sizing: border-box;
    border-radius: 12px;

    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 19px;
    text-align: center;

    color: #0A3871;

    flex: none;
    order: 0;
    flex-grow: 1;
    margin: 0px 8px;
    justify-content: center;
}

@media (max-width: 1329px) {
    main {
        height: 100%;
    }

    .text-input {
        width: 34rem;
        top: 10rem;
        left: 5.1rem;
    }

    .logo {
        top: 3rem;
        left: 2.8rem;
        width: 12%;
    }

    .form-alerta {
        left: 5.3rem;
        top: 30rem;
    }

    .botoes {
        top: 32.5rem;
        left: 4rem;
    }

    .btn-criptografar,
    .btn-descriptografar {
        width: 350px;
        font-size: 24px;
        height: 65px;
        margin: 0.5rem;
    }

    .mensagembox img {
        display: none;
    }

    .mensagembox {
        padding-top: 1rem;
        height: auto;
        border-radius: 28px;
        padding-left: 5.5rem;
    }

    .msgbox h2 {
        font-size: 24px;
        width: 80%;
        height: auto;
        text-align: center;
    }

    .msgbox h3 {
        text-align: center;
        margin: 0 6rem;
    }


    .msgbox {
        width: 46rem;
        left: 4.3rem;
        top: 40rem;
        padding: 0;
        height: 100%
    }

    .msg {
        padding-top: 1rem;
        height: auto;
        width: 36rem;
        border-radius: 28px;
        padding-left: 5.5rem;
        background-color: white;
    }

    .btn-copiar {
        top: 9rem;
        width: 32rem;
        height: 65px;
        left: 4.3rem;
        font-size: 24px;
    }
}